[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyyaml = "*"
cyanobyte = "*"
sly = "*"

[dev-packages]
qt5-tools = "*"

[requires]
python_version = "3.9"
